<h3>iDo. Submit what you do, share your flow.</h3>
<p>iDo allows you to know is anybody in the world doing the same things as you at the same time.
All you need is to submit your current activity and iDo will find people doing the same and communicate them via Twitter. 
In addition, you can gain achievements for submitting activities  some times for some duration. 
Even more, you can gain a  bonus achievements, for  having  a set of usual achievements. 
Hope it will inspirate you.</p>
<a href="<%= omniauth_authorize_path(resource_name, :twitter) %>">
<img src="/images/twitter.png" alt="">
</a>