<% unless @user.nil? %>
  <h2><%= @user==current_user ? 'Your' : @user.name %> current activity</h2>
  <div class='well'>
    <% current_activity_id = activity_of_user @user%>
    <% if current_activity_id.blank? %>
      <b>Why not submit some activity?</b>
    <% else %>
      <b></b><%= render :partial => 'activities/activity_with_picture', :locals => {:activity_id => current_activity_id} %>
    <% end %>
  </div>
<% end %>